In [62]:
%run dataframe.ipynb

In [63]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, Text

In [64]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])

In [65]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [66]:
accounts_df.columns

Index(['AccountID', 'Company Name', 'Company Revenue (in millions)',
       'Employee Head Count', 'Company Industry', 'Company Specialities',
       'Company Type', 'Company Location Country Name',
       'Company Location City', 'Company Location Timezone'],
      dtype='object')

In [67]:
client_df = pd.DataFrame(data=[[generate_license_key(), 'ERP Center, Inc.']], columns=['ClientID', 'Subscriber'])
client_df

               ClientID        Subscriber
0  8644090b953e49db9ec3  ERP Center, Inc.

In [68]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [69]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [70]:
# engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@aws-erp.cxugcosgcicf.us-east-2.rds.amazonaws.com:3306/erpcrmdb')

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': String(10), 'DateResolved': String(10), 'Priority': String(50)})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': String(10), 
#                             'TotalAmount': Integer, 'Status': String(100)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'Company Revenue (in millions)': Integer, 
#                             'Employee Head Count': Integer})

# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': String(20), 'Subscriber': String(50)})